body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: white;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  box-shadow: 1px 1px 4px #075265;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #075265;
  color: black;
}

.game {
  max-width: 400px;
  height: 500px;
  padding: 2% 5%;
  background-color: #bcd0b5;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0.5px gray;
}

header {
  text-align: center;
  margin-bottom: 15%;
}

h1 {
  font-size: 1.5rem;
}

.content {
  display: grid;
  place-items: center;
}

.guessNumber {
  text-align: center;
  margin-top: 15%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  text-align: center;

  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}

form {
  display: grid;
  place-items: center;
  margin-top: 15%;
  width: 100%;
}

.guessSection {
  display: grid;
  place-items: center;
  gap: 30px;
  width: 30%;
  margin-bottom: 15%;
}

.guessResult {
  text-align: center;
}
